.hello{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
   }

.nav-link{
  float: right;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.New {
  background-color: rgb(95, 211, 219);
}
form {
  background-color: bisque;
}

.form-label {
  font-size: 16px;
  
}


.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
